.u-chevron-down {
    width: var(--svg-sm);
    aspect-ratio: 1/1;
}

.u-svg-md {
    width: var(--svg-md);
    aspect-ratio: 1/1;
}

.u-button {
    text-decoration: none;
    border: none;
    font-size: var(--font-xl);
    font-weight: var(--font-bold);
    padding: var(--padding-md) var(--padding-2xl);
    white-space: nowrap;
    cursor: pointer;
}

.u-search-button {
    padding: var(--padding-md);
    background-color: inherit;
    border: none;

    svg {
        width: var(--svg-lg);
        aspect-ratio: 1/1;
        color: var(--color-primary);
    }
}
